#navul {
  list-style-type: none;
  background-color: rgb(6, 106, 246);
  border-radius: 20px;
  color: white;
  font-size: 20px;
  padding: 10px;
  padding-left: 25px;
  padding-bottom: 20px;
  margin-right: 40px;
  width: 460px;
  cursor: pointer;
}

#navul li {
  border-left: rgb(6, 106, 246);
}

#navul li:hover {
  border-bottom: 2px solid #08ff8c;
  border-top-right-radius: 10;
}
#btn {
  color: white;
  font-weight: 600;
  background-color: #0068f9;
  padding: 10px;
  border: none;
  border-radius: 15px;
}
